<%- include('partials/_header.ejs') %>

    <div class="container mt-5">
        <h1>Sales</h1>
        <div class="row mt-5">
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>nº</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% data.forEach((sale, index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= sale.date %>
                                </td>
                                <td>
                                    <%= customers.find(customer=> customer.id === sale.customer_id).name %>
                                </td>
                                <td>
                                    <%= sale.total %>
                                </td>
                            </tr>
                            <% }) %>

                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Add Sale
                    </div>
                    <div class="card-body">
                        <form action="/products/add" method="POST">
                            <div class="mb-3">
                                <input type="date" name="date" placeholder="date" class="form-control">
                            </div>

                            <div class="mb-3">
                                <select class="form-select" id="customer_id" name="customer_id">
                                    <option selected>Customer</option>

                                    <% customers.forEach(customer=> { %>
                                        <option value="<%= customer
                                        .id %>">
                                            <%= customer.name %>
                                        </option>
                                        <% }) %>

                                </select>
                            </div>

                            <div class="mb-3">
                                <select class="form-select" id="customer_id" name="customer_id">
                                    <option selected>Product</option>
                                    <% products.forEach(product=> { %>
                                        <option value="<%= product
                                        .id %>">
                                            <%= product.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="number" name="quantity" placeholder="Quantity"
                                            class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="price" placeholder="Price" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input disabled="true" type="number" name="total" placeholder="Total"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Sale</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>